@mixin breakpoint($point) {
  @if $point == xlarge {
    @media (max-width: 1800px) {
      @content;
    }
  }
  @if $point == large {
    @media (max-width: 1280px) {
      @content;
    }
  }
  @else if $point == medium {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @else if $point == small {
    @media (max-width: 640px) {
      @content;
    }
  }
  @else if $point == tiny {
    @media (max-width: 320px) {
      @content;
    }
  }
  @else {
    @media (max-width: $point) {
      @content;
    }
  }
}
