<header>
  <nav>
    <div class="container">
      <div class="logo">
        Ember CLI Image Cropper
      </div>
      <ul class="right">
        <li><a href="https://github.com/mhretab/ember-cli-image-cropper/blob/master/README.md">Docs</a></li>
        <li><a href="https://github.com/mhretab/ember-cli-image-cropper/">Github</a></li>
      </ul>
    </div>
  </nav>
</header>

<div class="container">
  <h1>ember-cli-image-cropper</h1>
  An ember-cli addon for cropping and resizing images based on <a href="https://github.com/fengyuanchen/cropper">https://github.com/fengyuanchen/cropper</a>

  <h2>Installation</h2>
  To install the addon inside your ember-cli app, run the following command
  <span class="code">ember install ember-cli-image-cropper</span>
  For detailed documentation how to use the addon please checkout the <a href="https://github.com/mhretab/ember-cli-image-cropper/blob/master/README.md">readme file</a>.

  <h2>Demo</h2>
  {{avatar-cropper image="assets/images/picture.jpg"}}
</div>

{{outlet}}
